body {

    font-family: 'Segoe UI', sans-serif;
    background: #f3e8ff;
    color: #3a0ca3;
    padding: 40px;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;

}

label {
    font-size: 1.2rem;

}

input[input="number"] {
    padding: 8px;
    width: 60px;
    font-size: 1rem;
    margin-left: 10px;
    border-radius: 8px;
    border: 1px solid #c77dff;

}

button {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #994cd8;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }

button:hover {
    background-color:#5E3C73

}

#result { 
    margin-top: 20px;
    font-size: 1.3rem;
    background-color: #e9d8fd;
    padding: 15px;
    border-radius: 10px;
    word-break: break-all; 
}